{{ template "layout.html"}} {{ define "content"}}
<script>
    function sendCommand(command, params={}){
        params['command'] = command
        $.post("/api/command/", params).done(function (json){
            console.log({action: 'sendCommand', params: params, json: json, status: 'success'})
        }, 'json').fail(function (json) {
            console.log({action: 'sendCommand', params: params, json: json, status: 'fail'})
        }, 'json')
    }
</script>
<div align="center">
    <h3>CAMERA</h3>
    <div data-role="controlgroup" data-type="horizontal">
        <img src="/video/streaming">
    </div>

    <td align="right"><b>Manual Controller</b></td><br>
    <form action="/" method="post">
        <input type="text" name="operation" size="30" maxlength="20" height="100">
        <input type="submit" value="Execute"; return false;>
    </form>

    <img width="50%" height="10%" src="/static/image/logomoji.png"><br><br>
</div>
<ul data-role="listview"> </ul> {{ end }}